#Naive Bayes
####type of classififcation problem 
####used for data that has categoricla features such as red gree n brown and all and we have to predict

In [2]:
import pandas as pd
from sklearn.feature_extraction.text import CountVectorizer 
from sklearn.naive_bayes import MultinomialNB
from sklearn.preprocessing import LabelEncoder
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, confusion_matrix

In [3]:
spam_df=pd.read_csv('/content/sms_spam.csv')

In [4]:
spam_df

      type                                               text
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...
...    ...                                                ...
5569  spam  This is the 2nd time we have tried 2 contact u...
5570   ham               Will ü b going to esplanade fr home?
5571   ham  Pity, * was in mood for that. So...any other s...
5572   ham  The guy did some bitching but I acted like i'd...
5573   ham                         Rofl. Its true to its name

[5574 rows x 2 columns]

In [6]:
x,y= spam_df.text, spam_df.type

In [7]:
x_train,x_test,y_train,y_test=train_test_split(x,y, test_size=.3)

In [8]:
vect=CountVectorizer()

In [9]:
count=vect.fit_transform(x_train.values)

In [10]:
count

<3901x7317 sparse matrix of type '<class 'numpy.int64'>'
	with 52234 stored elements in Compressed Sparse Row format>

In [11]:
clf=MultinomialNB()

In [12]:
targets=y_train.values

In [13]:
clf.fit(count,targets)

MultinomialNB()

In [14]:
y_pred=clf.predict(vect.transform(x_test))